@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #E5E5E5;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.dark {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
}

.light {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

.light .navbar.scrolled .nav-link,
.light .navbar.scrolled .logo {
  color: #000 !important;
}

.dark .navbar.scrolled .nav-link,
.dark .navbar.scrolled .logo {
  color: #000 !important;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", sans-serif;
}

nav {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  font-size: 20px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.nav-shadow {
  background-color: rgb(230, 222, 222);
  box-shadow: 0 4px 24px 0 rgba(23, 194, 236, 0.18), 0 1.5px 6px 0 rgba(23, 194, 236, 0.10), 0 2px 10px rgba(0, 0, 0, 0.10);
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(12px);
  /* glass blur */
}

section {
  padding: 28px 0;
}

.txt-center {
  text-align: center;
}

.text-cap {
  text-transform: uppercase;
}

nav .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  /* border-bottom: 1px solid var(--foreground); */
  position: relative;
}

nav .main-nav::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--foreground);
  bottom: -16px;
}

.nav-links ul {
  display: flex;
  align-items: center;
}

.nav-links ul li:not(:last-child) {
  margin-right: 20px;
}

.nav-link {
  padding: 10px;
  font-size: 20px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--foreground);
}

h1 {
  font-family: Lato, sans-serif;
  font-size: 239px;
  font-style: normal;
  font-weight: 700;
  line-height: 184px;
  text-transform: uppercase;
  margin: 48px 0;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 155px;
  font-style: normal;
  font-weight: 700;
  line-height: 150px;
  text-transform: uppercase;
  margin: 48px 0;
}

form {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  border: 2px dashed var(--foreground);
  padding: 40px 20px;
  border-radius: 20px;
  background-color: var(--foreground);
  color: var(--background);
}

.blogcreation form .form-grp input,
.blogcreation form .form-grp textarea {
  width: 60%;
}

.form-grp {
  margin-bottom: 35px;
  display: flex;
  align-items: baseline;
}

.input-grp {
  display: flex;
  flex-direction: column;
  width: 60%;
}

input,
textarea {
  border-bottom: 1px solid var(--background);
  font-size: 20px;
  margin-right: 10px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  /* width:/ 60%; */
}

input[type="file"],
textarea {
  margin-left: 15px;
}

label {
  font-size: 20px;
  margin-right: 25px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  width: 40%;
}

button {
  border-radius: 8px;
  border: 1px solid var(--foreground);
  padding: 0.6em 1.2em;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: 0.5s ease;
}

button:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--background);
  color: var(--background);
}

.dark button:hover {
  color: black;
  background-color: white;
}

.submitBtn {
  border: 1px solid var(--background);
}


.blogs-wrap {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 -15px; */
}

.blog-card {
  width: 33.33%;
  /* margin: 15px; */
  /* position: relative; */
  padding: 48px;
  border: 0.0313rem solid var(--foreground);
}

.blog-card .readMoreLink {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  color: rgb(0, 110, 255);
}

/* .blog-img-wrap {
  position: relative;
} */

.blog-img-wrap img {
  height: 400px;
  max-width: 400px;
  width: 100%;
  object-fit: cover;

}

.blog-content-wrap {
  margin-top: 30px;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.blog-title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 12px;
}

.blog-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: var(--foreground);
  font-size: 14px;
  margin-bottom: 25px;
}

.readMoreBtn {
  position: absolute;
  top: 28%;
  left: 1.25rem;
}

/* .actionBtn-grp {
  justify-content: space-between;
  width: 150px;
  display: flex;
  position: absolute;
  align-items: center;
  top: 8%;
  right:13%;
  width: 74%;
} */

/* .editBtn,
.deleteBtn {
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(89, 131, 83, 0.09);
  backdrop-filter: blur(2px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

.blog-img-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}


.img-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s ease;
}


.actionBtn-grp {
  position: absolute;
  bottom: -40px;
  /* starts hidden below */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* gap: 12px; */
  opacity: 0;
  transition: all 0.4s ease;
  padding: 0 15px;
}

/* Hover Effect */
.blog-img-wrap:hover .img-overlay {
  opacity: 1;
}

.blog-img-wrap:hover .actionBtn-grp {
  bottom: 20px;
  opacity: 1;
}

/* Button Styles */
.editBtn,
.deleteBtn {
  /* background: var(--background); */
  /* border-radius: 50%; */
  /* padding: 10px 12px; */
  /* border: none; */
  cursor: pointer;
  font-size: 20px;

  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  transition: 0.2s;

  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(89, 131, 83, 0.09);
  backdrop-filter: blur(2px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.editBtn:hover,
.deleteBtn:hover {
  transform: translateY(-3px);
  border: 1px solid var(--background);
}



/* #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
} */

.marquee-wrap {
  background: var(--foreground);
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.marquee-title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: var(--background);
  font-size: 18px;
  padding-left: 20px;
  width: 15%;
  flex-shrink: 0;
  margin-right: 10px;
}

.marquee {
  width: 85%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  align-items: center;
  animation: marquee 18s linear infinite;
}

.marquee-content p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--background);
  font-size: 18px;
  white-space: nowrap;
  /* Prevents wrapping */
  padding: 0 20px;
  /* Spacing between items */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.swipper-wrap {
  margin-bottom: 50px;
}

.swiper-content h2 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  color: var(--foreground);
  line-height: 50px;
  margin-bottom: 20px;
}

.swiper-content p {
  color: var(--foreground);
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
}


.blogcreation,
.editblog-page {
  margin-top: 120px;
}

.home-page.blogs-wrap {
  flex-direction: column;
  margin-bottom: 90px;
}

.homePage-BlogCard {
  display: flex;
  /* justify-content: space-between; */
}

.homePage-BlogCard:not(:last-child) {
  margin-bottom: 97px;
  position: relative;
}

.homePage-BlogCard:not(:last-child)::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--foreground);
  bottom: -21%;
}

.homePage-BlogCard .blog-content {
  margin-left: 48px;
  position: relative;
}

.homePage-BlogCard .blog-content .blog-extraInfo {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

.homePage-BlogCard .blog-content .blog-extraInfo div {
  margin-right: 35px;
  width: 170px;
  align-items: center;
  margin-bottom: 0;
}

.homePage-BlogCard .blog-extraInfo div h5 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
}

.homePage-BlogCard .blog-extraInfo div p {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 0;
}

.homePage-BlogCard .blog-content h5 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: var(--foreground);
  line-height: 20px;
  margin-bottom: 15px;
}

.homePage-BlogCard .blog-content p {
  color: var(--foreground);
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
}

.homePage-BlogCard img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.readmore-wrap {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  border-radius: 50%;
  margin-left: auto;
}

.readmore-wrap a {
  color: var(--background);
  font-size: 28px;
}

.load-more-btn {
  background-color: transparent;
  width: 100%;
  border: 1px solid var(--foreground);
}

.blogdetail h2 {
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  width: 50%;
  /* margin: 48px 0; */
}

.blogdetail .blog-desc {
  width: 50%;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  text-align: justify;
  -webkit-line-clamp: unset;
  text-overflow: unset;
  -webkit-box-orient: unset;
}

.blog-head {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
}

.blog-body {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.blog-head h2 {
  margin-right: 200px;
}

.blogdetail .blog-detailImg {
  width: 100%;
  /* height: 500px; */
  object-fit: contain;
  margin-bottom: 90px;
}

.autho-details {
  width: 30%;
  margin-right: 69px;
}

.author-profile {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  position: relative;
}

.author-profile::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--foreground);
  bottom: -30px;

}

.author-profile img {
  border-radius: 50%;
  margin-right: 16px;
}

.author-profile h4 {
  font-family: Lato, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
}

.blog-content {
  width: 70%;
}

.blog-extraInfo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.blog-extraInfo div h5 {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

.blog-extraInfo div p {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
}

.share-platforms {
  display: flex;
  align-items: center;
}

.share-platforms a:not(:last-child) {
  margin-right: 12px;
}

.blog-content-txt {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 22px;
  /* text-align: justify; */
}

.blog-content .blog-desc {
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
  line-height: 22px;
  text-align: unset;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 90px;
}

.blogDetail-sec .head a {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
}

.head h5 {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

.tag {
  border: 1px solid var(--foreground);
  text-transform: uppercase;
  border-radius: 15px;
  padding: 8px 10px;
  font-family: Lato, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 100;
  line-height: 10px;
}

.rel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rel-info p {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
}

.tags-grp .tag:not(:last-child) {
  margin-right: 12px;
}



.ham-menu {
  display: none;
  cursor: pointer;
  width: 24px;
  position: relative;
}

.ham-menu span {
  display: block;
  /* width: 30px; */
  height: 2px;
  background-color: var(--foreground);
  margin: 3px 0;
  transition: all 0.3s ease-in-out;
}

.ham-menu span:nth-child(1) {
  width: 8px;
}

.ham-menu span:nth-child(2) {
  width: 13px;
}

.ham-menu span:nth-child(3) {
  width: 18px;
}

.ham-menu.active span:nth-child(1) {
  width: 25px;
  transform: rotate(45deg) translate(5px, 6px);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  width: 25px;
  transform: rotate(-45deg) translate(6px, -7px);
}


@media (max-width: 1199px) {
  h1 {
    margin: 40px 0;
    font-size: 150px;
    line-height: 150px;
  }
  .marquee-title {
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px;
    width: 20%;
  }

  .marquee {
    width: 80%;
  }

  .marquee-wrap {
    margin-bottom: 55px;
  }

  .marquee-content p {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  h1 {
    margin: 40px 0;
    font-size: 99px;
    line-height: 99px;
  }

  .marquee-title {
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px;
    width: 30%;
  }

  .marquee {
    width: 70%;
  }

  .marquee-wrap {
    margin-bottom: 55px;
  }

  .marquee-content p {
    font-size: 15px;
  }

  .swiper-content h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .swiper-content p {
    font-size: 12px;
    line-height: 22px;

  }

  .homePage-BlogCard .blog-content h5 {
    font-size: 20px;
    line-height: 22px;
  }

  .homePage-BlogCard .blog-content p {
    font-size: 14px;
    line-height: 18px;
  }

  .logo {
    font-size: 18px;
  }

  .blog-card {
    width: 50%;
    padding: 35px;
  }

  .blog-title {
    font-size: 16px;
    line-height: 22px;
  }

  h2 {
    text-align: center;
    margin: 25px 0;
    font-size: 40px;
    line-height: 42px;
  }

  .blog-head {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .blog-head h2 {
    margin-right: unset;
    width: 100%;
    text-align: left;
  }

  .blogdetail .blog-desc {
    width: 100%;
    margin-bottom: unset;
    font-size: 18px;
    line-height: 22px;
  }

  .blog-content {
    width: 100%;
  }

  .blog-content-txt {
    font-size: 18px;
    line-height: 22px;
  }

  .blogdetail h2 {
    font-size: 35px;
    line-height: 38px;
  }

  .blogdetail .blog-detailImg {
    margin-bottom: 40px;
  }

  .blog-body {
    flex-direction: column-reverse;
  }

  .autho-details {
    width: 100%;
    margin-right: unset;
    margin-top: 30px;
  }

  .author-profile h4 {
    font-size: 24px;
  }

  .author-profile img {
    width: 50px;
    height: 50px;
  }

  .author-profile {
    margin-bottom: 45px;
  }

  .author-profile:after {
    bottom: -20px;

  }

}

@media (max-width: 768px) {
  .homePage-BlogCard:not(:last-child) {
    margin-bottom: 60px;
  }

  .homePage-BlogCard .blog-content .blog-extraInfo {
    position: unset;
    flex-direction: column;
  }

  .homePage-BlogCard .blog-content .blog-extraInfo div {
    width: 100%;
  }

  .homePage-BlogCard .blog-content .blog-extraInfo div:not(:last-child) {
    margin-bottom: 10px;
  }

  .homePage-BlogCard:not(:last-child):after {
    bottom: -12%;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background: var(--White);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 24px 24px 24px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .xinder-links.active {
    right: 0;
  }

  .xinder-links.active body {
    overflow: hidden;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .ham-menu {
    z-index: 1100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .ham-menu.active span {
    background-color: black;
  }

  .dark .ham-menu.active span {
    background-color: white;
  }

  nav .main-nav {
    padding: 5px 0;
  }

  .nav-links ul li {
    padding: 15px 0;
    color: var(--Blue-Gray-900);
  }

  .nav-links ul li a {
    color: var(--Blue-Gray-900);
  }

  .navbar {
    padding: 12px 0;
  }

  .blog-card {
    width: 50%;
    padding: 35px;
  }

  .blog-card:nth-child(3n) {
    width: 100%;
  }

  .blog-img-wrap img {
    height: auto;
    max-width: 100%;
  }

  .rel-info {
    margin-bottom: 13px;
  }

  .rel-info p {
    font-size: 14px;
  }

  .tag {
    font-size: 8px;
    line-height: 8px;
    padding: 8px;
  }

  .blog-desc {
    font-size: 11px;
    margin-bottom: 20px;
  }
}



@media (max-width: 575px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background: var(--White);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 24px 24px 24px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .xinder-links.active {
    right: 0;
  }

  .xinder-links.active body {
    overflow: hidden;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .ham-menu {
    z-index: 1100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .ham-menu.active span {
    background-color: black;
  }

  .dark .ham-menu.active span {
    background-color: white;
  }

  nav .main-nav {
    padding: 5px 0;
  }

  .nav-links ul li {
    padding: 15px 0;
    color: var(--Blue-Gray-900);
  }

  .nav-links ul li a {
    color: var(--Blue-Gray-900);
  }

  .navbar {
    padding: 12px 0;
  }

  .logo {
    font-size: 16px;
  }

  h1 {
    font-size: 57px;
    line-height: 57px;
    margin: 35px 0;
  }

  h2 {
    margin: 25px 0;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
  }

  .marquee-title {
    font-size: 10px;
    line-height: 12px;
    margin-right: 10px;
    width: 40%;
  }

  .marquee {
    width: 60%;
  }

  .marquee-wrap {
    margin-bottom: 55px;
  }

  .marquee-content p {
    font-size: 12px;
  }

  .swiper-content h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .swiper-content p {
    font-size: 12px;
    line-height: 22px;

  }

  .homePage-BlogCard {
    flex-direction: column;
  }

  .homePage-BlogCard img {
    width: 100%;
  }

  .blog-content {
    width: 100%;
  }

  .homePage-BlogCard .blog-content {
    margin-left: unset;
    position: unset;
    margin-top: 20px;
  }

  .homePage-BlogCard:not(:last-child) {
    margin-bottom: 60px;
  }

  .homePage-BlogCard .blog-content .blog-extraInfo {
    position: unset;
    flex-direction: column;
  }

  .homePage-BlogCard .blog-content .blog-extraInfo div {
    width: 100%;
  }

  .homePage-BlogCard .blog-content .blog-extraInfo div:not(:last-child) {
    margin-bottom: 10px;
  }

  .homePage-BlogCard .blog-content h5 {
    font-size: 18px;
    line-height: 22px;
  }

  .homePage-BlogCard .blog-content p {
    font-size: 14px;
    line-height: 18px;
  }

  .homePage-BlogCard:not(:last-child):after {
    bottom: -30px;
  }

  .homePage-BlogCard .blog-extraInfo div h5,
  .homePage-BlogCard .blog-extraInfo div p {
    font-size: 12px;
  }

  .readmore-wrap {
    width: 32px;
    height: 32px;
  }

  .readmore-wrap a {
    font-size: 22px;
  }

  .head {
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 30px;
  }

  .head h5 {
    font-size: 16px;
  }

  .allBlogs .head h5 {
    margin-bottom: 15px;
  }

  .blog-card {
    width: 100%;
    padding: 30px;
  }

  .blog-img-wrap img {
    height: 250px;
  }



  .blog-content-wrap {
    margin-top: 20px;
  }

  form {
    padding: 30px 15px;
  }

  .form-grp {
    flex-direction: column;
  }

  label {
    width: 100%;
    margin-right: unset;
    margin-bottom: 15px;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  .input-grp {
    width: 100%;
  }

  .blogcreation form .form-grp input,
  .blogcreation form .form-grp textarea {
    width: 100%;

  }

  input[type="file"],
  textarea {
    margin-left: unset;
    margin-right: unset;
  }




  .blog-card .readMoreLink {
    font-size: 12px;
  }

  .blogDetail-sec .head {
    flex-direction: row;
  }

  .blog-head {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .blog-head h2 {
    margin-right: unset;
    width: 100%;
  }

  .blogdetail .blog-desc {
    width: 100%;
    margin-bottom: unset;
    font-size: 14px;
    line-height: 20px;
  }

  .blog-content-txt {
    font-size: 14px;
    line-height: 20px;
  }

  .blogdetail h2 {
    font-size: 35px;
    line-height: 38px;
  }

  .blogdetail .blog-detailImg {
    margin-bottom: 40px;
  }

  .blog-body {
    flex-direction: column-reverse;
  }

  .autho-details {
    width: 100%;
    margin-right: unset;
    margin-top: 30px;
  }

  .author-profile h4 {
    font-size: 24px;
  }

  .author-profile img {
    width: 50px;
    height: 50px;
  }

  .author-profile {
    margin-bottom: 45px;
  }

  .author-profile:after {
    bottom: -20px;

  }

  .blog-extraInfo div h5 {
    font-size: 16px;
  }

  .blog-extraInfo div p {
    font-size: 16px;
  }
}