@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav .main-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links ul{
  display: flex;
  align-items: center;
}

.nav-links ul li:not(:last-child){
  margin-right: 20px;
}
.nav-link{
  padding: 10px;
}
.form-grp{
  margin-bottom: 15px;
}

input{
  border-bottom: 1px solid white;
}
label{
  font-size: 18px;
  margin-right: 10px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #494949;
    cursor: pointer;
    transition: border-color 0.25s;
}

.blogs-wrap{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.blog-card{
  width: 31.1%;
  margin: 15px;
  position: relative;
}
.blog-img-wrap{
  position: relative;
}
.blog-img-wrap img{
  height: 400px;
  max-width: 420px;
  width: 100%;
  
}

.blog-content-wrap{
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 25px;
    left: 1.25rem;

}
.container{
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
.blog-desc{
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 1; */
  /* -webkit-box-orient: vertical; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  color: white;
  font-size: 14px;
  margin-bottom: 25px;
}
.readMoreBtn{
  position: absolute;
  top: 28%;
  left: 1.25rem;
}